:root {
    --primary-color: #3959FF;
    --secondary-color: #fefef7;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
    background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;

}

h2 {
    font-size: 64px;
}

p {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
}

.btn-primary {
    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-secondary {
    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-descriptions {
    padding: 120px 60px;
}

.about-section h1 {
    font-size: 64px;
    line-height: 1.2;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.about-section p {
    font-size: 16px;
    font-family: var(--default-font-family);
}

.about-section {
    padding: 160px 20px;
}

.about-section-content {
    margin: 30px;
}

.skills-section h1 {
    font-size: 64px;
    line-height: 1.2;
}

.skills-section h2 {
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.4;
}

.skills-section p {
    font-size: 16px;
    font-family: var(--default-font-family);
}

.skills-section-content {
    margin: 30px;
    text-align: center;
}

.skills-section {
    padding: 160px 20px;
}

.contact p {
    text-align: center;
}

.email {
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

.email a {
    text-decoration: none;
    color: var(--primary-color);
    font: var(--default-font-family);
    font-size: 18px;
}

.contact-section {
    padding: 0 -20px;
}

.img-fluid {
    border-radius: 10px 10px;
}

.logo {
    max-width: 35px;
    max-height: 15px;
}

.active {
    color: var(--primary-color) !important;
}

.nav-item {
    padding: 0 10px;
}

@media(max-width: 992px) {
    .project-descriptions h2 {
        margin-bottom: 150px !important;
    }

    .row {
        margin: 0;
    }
}

h2 {
    font-size: 33px;
    text-align: center;
    line-height: 1.5;
}

.hero h2,
.hero p,
p {
    font-size: 16px;
    text-align: center;
}

.hero {
    padding: 80px 20px;
}

.project-descriptions {
    padding: 0;
    text-align: center;
}

.btn-secondary {
    line-height: 20px;
    padding: 30px, 0;
}

.about-section {
    text-align: center;
    padding: 0;
}